<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include("./nav")  %>
   <form method="POST" action="/new" class="new-msg-form">
        <div class="input-container">
            <label for="message-author">Your name: </label>
            <input id="message-author" name="messageAuthor" placeholder="Username"/>
        </div>

        <div class="input-container">
            <label for="message-text">Message text: </label>
            <input id="message-text" name="messageText" placeholder="What's on your mind?"/>
        </div>
        <button type="submit">Submit</button>
   </form> 
</body>
</html>