<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% messages.map((msg, index) => { %>
            <div>
                <p><%= msg.user %></p>
                <p><%= msg.added %></p>
                <p><%= msg.text %></p>
                <button><a href="/messages/<%= index %>">Open</a></button>
            </div>
        <% }) %>
    </div>
</body>
</html>