<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include("./nav")  %>
    <p class="msg-text"><%= msg.text %></p>
    <p class="msg-added"><%= msg.added %></p>
    <p class="msg-user"><%= msg.user %></p> 
</body>
</html>